<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:postgresql://localhost/postgres</property> <!-- BD URL -->
   		<property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
   		<property name="connection.username">postgres</property> <!-- DB User -->
   		<property name="connection.password">postgres</property> <!-- DB Password -->
   		
   		<property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property> <!-- DB Dialect -->
   		<property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->
		
		<property name="show_sql">true</property> <!-- Show SQL in console -->
		<property name="format_sql">true</property> <!-- Show SQL formatted -->
		
		 <property name="hibernate.current_session_context_class">thread</property>
		 <property name="hibernate.connection.release_mode">after_transaction</property>
		 <property name="connection.pool_size">1</property>
		 <property name="hibernate.enable_lazy_load_no_trans">true</property>
		 
		 <property name="use_sql_comments">false</property>
		<mapping resource="com/rmpksoft/pgsql/VisitSite.hbm.xml" />

	</session-factory>
</hibernate-configuration>	